#Steps to install Python and use it in VS Code.

Step-1: Install Python

Go to: https://www.python.org/downloads/

Download latest version

Run the installer

VERY IMPORTANT: check the box “Add Python to PATH”

Click Install

Step-2: Install Visual Studio Code

Go to: https://code.visualstudio.com/

Download VS Code and install

Step-3: Install Python Extension in VS Code

Open VS Code

Go to Extensions (left side icon or press Ctrl + Shift + X)

Search: Python

Install the "Python" extension by Microsoft

Step-4: Create and Run Python file

Create a folder (example: python_projects)

Open that folder in VS Code

Create a file: test.py

Write:

print("Hello Python")


Run the file:

Right click Run Python File in Terminal
OR

click the “Run” button above the code

You will see the output in the terminal.

Step-5: Select Python Interpreter (if needed)

Sometimes VS Code asks for interpreter.

Press Ctrl + Shift + P

Type: Python: Select Interpreter

Choose the Python version you installed

#Introduction to Python

Python is a high-level, general-purpose programming language.
It is very easy to read and write because its syntax is close to normal English.

It was created by Guido van Rossum and first released in 1991.

Python is used almost everywhere:

Web development (Django, Flask)

Data Science / Machine Learning (Pandas, NumPy, TensorFlow)

Automation & Scripting

Software development

AI, ML, Deep Learning

Python is popular because:

It is easy to learn for beginners

Has huge libraries/modules

Can run on many platforms (Windows, Linux, Mac)

In [ ]:
#python syntax
print("hello")

hello

In [ ]:
#This is a comment

In [ ]:
#variables
#x is int,y is string,z is float
x = 5
y = 'a'
z = float(4.33)
print(str(x)+y+str(z))

5a4.33

In [ ]:
#data types
x = 10               # int
y = 3.14             # float
name = "Python"      # string
flag = True          # bool
items = [1,2,3]      # list
point = (4,5)        # tuple
unique = {1,2,3}     # set
data = {"id":1}      # dict

In [ ]:
#input output
x, y = input("Enter two numbers: ").split()
print(x, y)

Enter two numbers: 2 3
2 3

In [ ]:
#string basics and slicing
name = "Python"
print(name[0:3])   # Pyt  (0 to 2)
print(name[2:])    # thon (from 2 till end)
print(name[:4])    # Pyth (start to 3)

Pyt
thon
Pyth

In [ ]:
#if elif else
#check if even or odd
x=10
if x%2==0:
  print("even")
else:
  print("odd")

even

In [ ]:
#string methods
text = "Hello World"

print(text.upper())      # HELLO WORLD
print(text.lower())      # hello world
print(text.replace("World", "Python"))   # Hello Python

print(text.split())      # ['Hello', 'World']

HELLO WORLD
hello world
Hello Python
['Hello', 'World']

In [ ]:
#string format
name = "Ajmain"
id = 111
print(f"My name is {name} and my id is {id}.")

My name is Ajmain and my id is 111.

In [ ]:
#a problem to use loops,range
#Print all numbers from 1 to 10 and their squares,in range the upper limit(right) is always 1 greater.

In [ ]:
#for loops
print("Using for loop:")
for i in range(1, 11):
    print(f"Number: {i}, Square: {i*i}")

Using for loop:
Number: 1, Square: 1
Number: 2, Square: 4
Number: 3, Square: 9
Number: 4, Square: 16
Number: 5, Square: 25
Number: 6, Square: 36
Number: 7, Square: 49
Number: 8, Square: 64
Number: 9, Square: 81
Number: 10, Square: 100

In [ ]:
#while loops
print("Using while loop:")
i = 1
while i <= 10:
    print(f"Number: {i}, Square: {i*i}")
    i += 1

Using while loop:
Number: 1, Square: 1
Number: 2, Square: 4
Number: 3, Square: 9
Number: 4, Square: 16
Number: 5, Square: 25
Number: 6, Square: 36
Number: 7, Square: 49
Number: 8, Square: 64
Number: 9, Square: 81
Number: 10, Square: 100

Problem for pass ,continue ,break


Print a multiplication table from 1 to 5

Skip printing multiples of 3

Stop the inner loop if the product > 12

In [ ]:
for i in range(1, 6):
    for j in range(1, 6):
        product = i * j

        if product % 3 == 0:
            continue

        if product > 12:
            break

        if product == 10:
            pass

        print(i,"*",j,"=",product)

1 * 1 = 1
1 * 2 = 2
1 * 4 = 4
1 * 5 = 5
2 * 1 = 2
2 * 2 = 4
2 * 4 = 8
2 * 5 = 10
4 * 1 = 4
4 * 2 = 8
5 * 1 = 5
5 * 2 = 10

In [ ]:
#make a list,append,remove,insert in the list and reverse it,then loop the list

list=[1,2,3]
list.append(4)
list.remove(2)
list.insert(1,5)
list.reverse()
print(list)
for i in range(len(list)):
  print("\n",list[i])

[4, 3, 5, 1]

 4

 3

 5

 1

In [ ]:
#array manipulation
arr=[12,3,4,5]
print(arr[::-1],arr[0])

[5, 4, 3, 12] 12

Take a tuple of numbers from the user.

Print the largest and smallest number in the tuple.

Count how many times a number 5 appears in the tuple.

In [ ]:
#Tuples
numbers = (3, 5, 7, 5, 2, 8)

largest = max(numbers)
smallest = min(numbers)
count_of_5 = numbers.count(5)

print("Tuple:", numbers)
print("Largest:", largest)
print("Smallest:", smallest)
print("Count of 5:", count_of_5)

Tuple: (3, 5, 7, 5, 2, 8)
Largest: 8
Smallest: 2
Count of 5: 2

In [ ]:
#Sets all operations
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print("Set1:", set1)
print("Set2:", set2)
print("Union:", set1.union(set2))
print("Intersection:", set1.intersection(set2))
print("Difference (set1 - set2):", set1.difference(set2))

Set1: {1, 2, 3, 4}
Set2: {3, 4, 5, 6}
Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (set1 - set2): {1, 2}

Dictionary all different uses

In [ ]:
# Step 0: Initial dictionary
students = {
    "S1": {"name": "Simon", "age": 22, "grade": "A"},
    "S2": {"name": "Rahim", "age": 21, "grade": "B"},
    "S3": {"name": "Karim", "age": 23, "grade": "C"}
}

# 1. Keys, Values, Items
print("Keys:", students.keys())
print("Values:", students.values())
print("Items:", students.items())

# 2. Get age of S2
print("S2 Age:", students.get("S2")["age"])

# 3. Add new student S4
students["S4"] = {"name": "Salma", "age": 20, "grade": "A+"}
print("After adding S4:", students)

# 4. Update grade of S3
students["S3"]["grade"] = "B+"
print("After updating S3 grade:", students)

# 5. Remove student S1
students.pop("S1")
print("After removing S1:", students)

# 6. Remove last inserted item
students.popitem()
print("After popitem():", students)

# 7. Clear dictionary
students.clear()
print("After clearing:", students)

Keys: dict_keys(['S1', 'S2', 'S3'])
Values: dict_values([{'name': 'Simon', 'age': 22, 'grade': 'A'}, {'name': 'Rahim', 'age': 21, 'grade': 'B'}, {'name': 'Karim', 'age': 23, 'grade': 'C'}])
Items: dict_items([('S1', {'name': 'Simon', 'age': 22, 'grade': 'A'}), ('S2', {'name': 'Rahim', 'age': 21, 'grade': 'B'}), ('S3', {'name': 'Karim', 'age': 23, 'grade': 'C'})])
S2 Age: 21
After adding S4: {'S1': {'name': 'Simon', 'age': 22, 'grade': 'A'}, 'S2': {'name': 'Rahim', 'age': 21, 'grade': 'B'}, 'S3': {'name': 'Karim', 'age': 23, 'grade': 'C'}, 'S4': {'name': 'Salma', 'age': 20, 'grade': 'A+'}}
After updating S3 grade: {'S1': {'name': 'Simon', 'age': 22, 'grade': 'A'}, 'S2': {'name': 'Rahim', 'age': 21, 'grade': 'B'}, 'S3': {'name': 'Karim', 'age': 23, 'grade': 'B+'}, 'S4': {'name': 'Salma', 'age': 20, 'grade': 'A+'}}
After removing S1: {'S2': {'name': 'Rahim', 'age': 21, 'grade': 'B'}, 'S3': {'name': 'Karim', 'age': 23, 'grade': 'B+'}, 'S4': {'name': 'Salma', 'age': 20, 'grade': 'A+'}}
After popitem(): {'S2': {'name': 'Rahim', 'age': 21, 'grade': 'B'}, 'S3': {'name': 'Karim', 'age': 23, 'grade': 'B+'}}
After clearing: {}

In [ ]:
#functions problem,find greater from 2 values
def find_greater(a, b):
    if a > b:
        return a
    else:
        return b
find_greater(5,6)

6

In [ ]:
#recursion

def fact(n):
    if n==0 or n==1:
        return 1
    return n * fact(n-1)

print(fact(5))

120

In [ ]:
def fib(n):
    if n<=1:
        return n
    return fib(n-1) + fib(n-2)

print(fib(6))

8

Class University problem

In [ ]:
class Person:
    count_people = 0  # class variable

    def __init__(self, name, age):
        self.name = name        # instance variable
        self.age = age
        Person.count_people += 1

    def show_info(self):
        print(f"Person: {self.name}, Age={self.age}")

    @staticmethod
    def is_adult(age):
        return age >= 18

    @classmethod
    def total_people(cls):
        return cls.count_people


class Student(Person):
    def __init__(self, name, age, dept):
        super().__init__(name, age)
        self.dept = dept

    def show_info(self):
        print(f"Student: {self.name}, Age={self.age}, Dept={self.dept}")


class Employee(Person):
    def __init__(self, name, age, salary):
        super().__init__(name, age)
        self.__salary = salary  # private variable

    def get_salary(self):
        return self.__salary

    def show_info(self):
        print(f"Employee: {self.name}, Age={self.age}, Salary={self.__salary}")


class TA(Student, Employee):
    def __init__(self, name, age, dept, salary):
        # initialize Person only once
        Person.__init__(self, name, age)
        self.dept = dept
        self.__salary = salary

    def show_info(self):
        print(f"TA: {self.name}, Age={self.age}, Dept={self.dept}, Salary={self.__salary}")


# create objects
p = Person("Rahim", 40)
s = Student("Karim", 22, "CSE")
e = Employee("Salma", 30, 30000)
t = TA("Babul", 25, "EEE", 15000)

# polymorphism
for obj in [p, s, e, t]:
    obj.show_info()

print("Total People =", Person.total_people())
print("Is 17 adult? ->", Person.is_adult(17))

Person: Rahim, Age=40
Student: Karim, Age=22, Dept=CSE
Employee: Salma, Age=30, Salary=30000
TA: Babul, Age=25, Dept=EEE, Salary=15000
Total People = 4
Is 17 adult? -> False